$totalWrapperPadding: 20px;

.group-inputs {
  display: flex;

  .wrapper ~ .wrapper {
    border-left: 1px solid #ccc;
  }
}

.wrapper {
  position: relative;

  display: flex;

  width: 100%;
  padding-top: $totalWrapperPadding;

  transition: padding .2s ease-in-out;

  &.touched.valid:not(.focused):not(.error) {
    padding-top: calc($totalWrapperPadding / 2);
    padding-bottom: calc($totalWrapperPadding / 2);

    .icon-wrapper {
      transform: translateY(-50%);
    }
  }

  &:not(.no-border) {
    border-bottom: 1px solid #ccc;
  }

  .label {
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);

    padding: 0 12px;

    font-size: 16px;
    font-weight: 500;
    color: #888;

    transition: all .2s ease-in-out;
  }

  .input {
    width: 100%;
    padding: 0.75rem;
    border: none;

    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    outline: none;
  }

  &.email-input {
    border: 1px solid #ccc;
    border-radius: 10px;
  }

  &.focused,
  &.error {
    .label {
      top: 4px;
      transform: initial;
      font-size: 12px;
    }
  }


  &.error {
    border-color: #de1e1e;
    background-color: rgba(#de1e1e, .1);
    
    .label {
      color: #de1e1e;
    }
  }

  &.focused:not(.force-error) {
    border-color: #06d146;
    background-color: initial;

    .label {
      color: #06d146;
    }

  }

  .error {
    border-color: red;
  }

  .input-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

  }

  .icon-wrapper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 10px;

    transition: transform .2s ease-in-out;
  }

  &.touched,
  &.focused {
    .icon-wrapper {
      transform: translateY(0);
    }
  }
}
